h1 {
    /*Überschrift oben*/
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    font-size: 3rem;
    color: #03080c;
    margin-bottom: 4px
}

p1 {
    /*Unterüberschrift*/
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    font-size: 1.5rem;
    color: #03080c;
}

#bild1 {
    max-width: auto;
    max-height: 200px;
}

#bild01 {
    max-width: auto;
    max-height: 200px;
}

/*Überschrift in Flexbox*/
.container {
    text-align: center;
}

nav ul li a {
    /* Links im Header*/
    color: #0f6686;
    font-size: 1.2rem;
    padding: 5px 10px;
    margin-right: 20px;
}

nav ul li a:hover,
/*Links im Header*/
nav ul li a:focus {
    color: #5acdf7;
}

.search-bar {
    /*Suchleiste*/
    width: 200px;
    padding: 5px 10px;
    border: 2px solid #03080c;
    border-radius: 15px;
    font-size: 16px;
    outline: none;
}

.search-bar:hover {
    border-color: #1ca1d1;
}

.search-bar:focus {
    border-color: #1abc9c;
}

/* Zentrierung der Suchleiste */
form {
    display: flex;
    justify-content: right;
    margin-top: 10px;
}

/*Flexbox für das Menü*/
.flex-container5 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
    background-color: #cbf4fe;
    margin: 0;
    margin-bottom: 80px;
}

.menu-item.active {
    color: #000000;
}

.horizontal-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Listenelemente horizontal */
.horizontal-menu li,
li form {
    display: inline-block;
    margin-right: 20px;
}

/*Seitenanfang*/
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    background: linear-gradient(to bottom right, #c9dfe7, #1ca1d1);
    /* Verlauf von hellblau nach mittelblau */
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    gap: 20px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.8;
    color: #333;
    margin: 0;
    padding: 40px;
}

a {
    color: #2e5983;
    padding: 5px 10px;
    margin-right: 20px;
}

a:hover,
/*Links ändern die Farbe wenn die Maus darüber fährt*/
a:focus {
    color: rgb(118, 181, 245);
}


.zentrieren {
    text-align: center;
}

.fett {
    font-weight: 500;
    font-style: italic;
}


/*Flexbox für den Footer*/
.flex-container6 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(to bottom, #e9f1f4, #59b2d2);
    padding: 20px;
    margin-top: 30px;
    box-sizing: border-box;
    gap: 20px;
    text-align: center;
}

.footer-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.footer-link {
    color: #03080c;
}

.footer-link:hover,
/*Links ändern die Farbe wenn die Maus darüber fährt*/
.footer-link:focus {
    color: rgb(73, 111, 148);
}

.responsive-image {
    display: block;
    max-width: auto;
    max-height: 250px;
    margin: 0 auto;
}

/* Hamburger Menü (Standardmäßig versteckt) */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 4px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
}


/* Menü auf kleineren Bildschirmen */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: #333;
        flex-direction: column;
        text-align: right;
        padding: 10px 0;
    }

    .nav-links li {
        display: block;
        margin-right: 20px;
    }

    .hamburger {
        display: flex;
        /* Zeigt das Hamburger-Icon */
    }

    .nav-links.active {
        display: flex;
        /* Zeigt das Menü bei Klick */
    }
}

@media (max-width: 1025px) {
    .header-image {
        display: none;
    }
}

@media (max-width: 541px) {
    .header-image2 {
        display: none;
    }
}

@media screen and (max-width: 1025px) {
    h1 {
        font-size: 2rem;
    }

    p1 {
        font-size: 1.2rem;
    }

    .horizontal-menu li {
        display: block;
        margin-right: 0;
    }

    .search-bar {
        width: 100%;
    }

    .header-image {
        display: none;
    }
}